[submodule "emacs-request"]
	path = emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "grasp"]
	path = grasp
	url = https://github.com/karlicoss/grasp.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
