
[Unit]
Description=Grasp extension server conterpart

[Install]
WantedBy=default.target

[Service]
ExecStart=/home/sai/emacs-spacemacs-config/grasp/server/grasp_server.py --port 12212 --path /home/sai/Dropbox/org/capture.org --template "* TODO [#A] %%:link\n** Selection\n%%:selection\n** Comment\n%%:comment\n"
Type=simple
Restart=always
